Font Families::::::
MuseoSans
PTSans-Regular
Myriad Pro  regular


				 <div class="col-md-3">
                            <div class="card" style="width: 18rem;">
                             <div class="catagory-imgs">
                             <img src="images/latus-arival-1.png" class="card-img-top" alt="...">
                             </div>
                             <div class="card-body">
                                 <h5 class="card-title">Card title</h5>
                                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                 <a href="#" class="btn btn-primary">Go somewhere</a>
                             </div>
                             <div class="catagory-icons">
                                 <p><i class="fa fa-sliders"></i>Catagory</p>
                                 <ul>
                                     <li><i class="fa fa-star"></i> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                                 </ul>  
                             </div>
                          </div>
                        </div>